<%= render(LayoutComponent.new(title: "Holdings", current_user: current_user)) do %>
  <div class="flex justify-between items-center mb-6">
    <%= link_to "New Holding", new_holding_path, class: "bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded" %>
  </div>

  <%= render HoldingTableComponent.new(holdings: @holdings) %>

  <div class="mt-6 flex justify-center">
    <%= paginate @holdings %>
  </div>
<% end %>
