<div class="space-y-4">
  <% if @snapshot.present? %>
    <%= turbo_stream_from "ai_workflow_#{@snapshot.correlation_id}" %>
  <% end %>
  <%= render AdminAiWorkflowBannerComponent.new(snapshot: @snapshot, active_artifact: @active_artifact) %>
  <%= render AdminAiWorkflowTabsComponent.new(
        snapshot: @snapshot,
        tab: @tab,
        events_page: @events_page,
        events_per_page: @events_per_page,
        artifacts: @artifacts,
        active_artifact: @active_artifact
      ) %>
</div>
