<header class="navbar bg-base-100 border-b border-base-200">
  <div class="flex-none lg:hidden">
    <label for="<%= @drawer_id %>" class="btn btn-ghost btn-square" aria-label="Open navigation">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </label>
  </div>

  <div class="flex-1">
    <a class="btn btn-ghost text-xl" href="/net_worth/dashboard">NextGen</a>
  </div>

  <div class="flex-none gap-2">
    <button class="btn btn-ghost btn-circle" aria-label="Notifications">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.05-.05v.7a8.967 8.967 0 01-2.31 6.022 23.85 23.85 0 005.454 1.31m5.714 0a3 3 0 11-5.714 0m5.714 0H9.143" />
      </svg>
    </button>

    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle" aria-label="Account">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.964 0a9 9 0 10-11.964 0m11.964 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li class="disabled"><a><%= @current_user&.email %></a></li>
        <li><%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "text-left" %></li>
      </ul>
    </div>
  </div>
</header>
